/* Estilos base (aplicados en todas las pantallas) */
body {
  font-family: Arial, sans-serif;
  background-color: #E26A2C;
}

header {
  background-color: #f8f8f8; /* Color de fondo */
  padding: 10px 0; /* Espaciado superior e inferior */
}

nav {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  flex-direction: row;
  flex-wrap: wrap;
}

.left-section,
.right-section {
  display: flex;
  align-items: center;
  
}

.left-section {
  flex: 1;
  
}

.right-section {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
  justify-content: flex-end;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.ul li,
.ul h1 {
  margin: 0 15px; /* Espaciado entre los elementos */
}

.Logo-principal {
  width: 100px; /* Ajusta el tamaño del logo */
  height: auto;
}

.project {
  font-size: 1.5em;
  color: #333;
}

.icon-nav {
  height: 40px;
  width: 40px;
  justify-content: end;
  border: none;
  /*border-radius: 7px;*/
  background: none;
  cursor: pointer;
}

.icon-nav img {
  width: 25px; /* Ajusta el tamaño de los iconos */
  height: auto;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 15px;
}

section {
  padding: 20px; /* Aumenta el padding para mejor visualización */
  margin: 10px;
}

section p {
  text-align: center;
  color: #666;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* Añade animaciones a los títulos */
h1,
h2 {
  opacity: 0;
  animation: fadeInUp 1s forwards;
  animation-delay: 0.3s;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/* Media queries para responsividad */
@media (max-width: 768px) {
  /* Ajustes para pantallas pequeñas (tabletas y móviles) */
  nav {
    flex-direction: column; /* Apilar elementos del menú verticalmente */
  }

  .left-section,
  .right-section {
    width: 100%; /* Los elementos ocupan todo el ancho */
    justify-content: center; /* Centrar elementos horizontalmente */
    margin-bottom: 10px; /* Espacio entre secciones */
  }

  ul {
    flex-direction: column;
    align-items: center;
  }

  .ul li,
  .ul h1 {
    margin-right: 10px 0;
  }

  .icon-nav {
    width: 30px;
    height: 30px;
  }

  .icon-nav img {
    width: 20px;
  }

  nav ul li a {
    font-size: 14px;
  }
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #eee;
}

.dropdown-content a:last-child {
  border-bottom: none;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block; 
}

@media (max-width: 768px) {

  .dropdown:active .dropdown-content{
    display: block;
  }
}